{% extends "auctions/layout.html" %}

{% block body %}

  <h2 class="blue-text">Your Listings</h2>
  <h5 title="add listing" class="plus-container">
    <a class="btn btn-outline-success plus-link" href="{% url 'auctions:add_listing' %}">+ Add new Listing</a>
  </h5>

  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
      {{ message }}
    </div>
    {% endfor %}
  {% endif %}

  {% if listings %}
  <ul class="listings">
    {% for list in listings %}
    <li>
      <div class="card">
        <div class="card-header">
          {{ list.listing.name }}
          {% if list.listing.user == user %}
          <div class="owned-icon" title="You Own This Listing">
            ★
          </div>
          {% endif %}
        </div>
        <div class="card-body">
          <img alt="{{ list.listing.name }} - img" src="{{ list.listing.image.url }}" height="170" />
          {% if list.bid != None %}
          <h5 class="list-cost" style="color: var(--danger)">Bidding has started on this item</h5>
          <h5 class="list-cost">Current Highest Bid: <strong style="color: var(--warning)">ETB{{ list.bid.highest_bid }}</strong></h5>
          {% else %}
          <h5 class="list-cost" style="color: var(--success)">No Bids Currently Placed</h5>
          <h5 class="list-cost">Bid Starts From: <strong>ETB {{ list.listing.initial }}</strong> </h5>
          {% endif %}
          <h5> Category: <strong style="color: var(--gray)">{{ list.listing.category }}</strong> </h5>
          <div class="links-box">
            <a class="btn btn-outline-primary" href="{% url 'auctions:listing' list.listing.id %}">View Listing</a>
            <a class="btn btn-outline-success" href="{% url 'auctions:add_to' list.listing.id %}">Add to WatchList</a>
            {% if list.listing.user == user %}
            <a class="btn btn-outline-danger" href="{% url 'auctions:close_listing' list.listing.id %}">Close Listing</a>
            {% endif %}
          </div>
          <h6 class="text-muted right-align">Date added: {{ list.listing.created }}</h6>
        </div>
      </div>
    </li>
    {% endfor %}
    <li class="card card-header bg-info">
      <div style="text-align: center; color: white;"> --- END --- </div>
    </li>
  </ul>
  {% else %}
  <div class="alert alert-info">
    You don't currently possess any active listings.
  </div>
  {% endif %}

{% endblock %}
